@import './../variables.scss';

// h2 {
//     padding: 10px
// }

::-webkit-scrollbar {
    display: none;
}

.content {
    height: 79vh;
    overflow: hidden;
    overflow-y: scroll;
}

#group-card-eventi {
    padding: 15px;
    // height: 79vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    //     scroll-snap-destination: 0 0;
    //     scroll-snap-type: mandatory;
    //     scroll-snap-points-y: repeat(87vw);
    //     scroll-snap-type: y mandatory;

    .card {
        width: 100%;
        overflow: hidden;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        margin-bottom: 15px;
        pointer-events: all;

        .card-img {
            overflow: hidden;
            position: relative;
            width: 100%;
            object-fit: cover;
            height: auto;
            max-height: 200px;
            img {
                width: 100%;
            }
        }

        .content {
            height: auto;
            padding: 1em;

            p {
                display: none;
            }

            h3 {
                padding-bottom: 1em;
            }


            #data {

                padding: .6em 1.5em;
                text-align: center;
                border-top: 1px solid lightgray;
                margin-top: .5em;

            }
        }
        * {
            pointer-events: none;
        }

        &.open {
            .content p {
                display: block;
            }
        }
    }
}